.container{
    max-width: 768px;
    border-radius: 10px;
    background-color: lightgray;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form{
    padding: 50px;
}

.number-row{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.number-input label{
    display: block;
    text-align: center;
}

.number-input{
    padding-right: 10px;
}

#first-num{}

#second-num{
    margin-left: 20px;
}

#number-1{}

#number-2{}

.operation-row{
    width: 428px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
}

.radio input:checked + label{
    font-weight: bold;
}

#add{}

#subtract{}

#multiply{}

#divide{}

.button-row{
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.button-row input{
    display: block;
}

#equals{
    background-color: blue;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
}

#equals:active{
    background-color: green;
}

#clear{
    margin-left: 20px;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 8px;
}

#clear:hover{
    background-color: red;
}

#results{
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
}